version: '3'
services:
  postgres:
    image: postgres:12
    env_file:
      - "production.env"
    # environment:
    #   POSTGRES_USER: ${POSTGRES_USER}
    #   POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    #   POSTGRES_HOST: ${POSTGRES_HOST}
    #   POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"