SQLALCHEMY_DATABASE_URL=${DB_TYPE}+${DB_CONNECTOR}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_NAME}
ALGORITHM=ALGORITHM
MAIL_USERNAME=email@example.com
MAIL_PASSWORD='MAIL_PASSWORD'
MAIL_FROM=email@example.com
MAIL_PORT=465 
MAIL_SERVER='MAIL_SERVER'
ENCRYPTION_KEY=ENCRYPTKEY
PRIVATE_KEY_PATH=private_key.pem
PUBLIC_KEY_PATH=public_key.pem