body ,html {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #45a049;
}

.registration-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
}
/*                               */


.password-container {
    position: relative;
    display: inline-block;
}

.password-container input {
    padding-right: 30px; /* место для иконки */
}



.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.hidden {
    display: none;
}

.message {
    margin-top: 20px;
    font-weight: bold;
}


/* Кнопка Google */
.customGPlusSignIn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #dd4b39;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .customGPlusSignIn:hover {
    background-color: #e74b37;
  }
  
  /* Иконка Google */
  .icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 533.5 544.3"><path fill="%23FFF" d="M533.5 278.4c0 145.2-117.3 262.5-262.5 262.5s-262.5-117.3-262.5-262.5 117.3-262.5 262.5-262.5S533.5 133.2 533.5 278.4z"/><path fill="%23FFF" d="M213.9 336.3h-133.8V171.8h133.8v164.5z"/><path fill="%23FFF" d="M266.8 336.3h-133.8V196.1h133.8v140.2z"/><path fill="%23FFF" d="M319.6 336.3h-133.8V220.4h133.8v115.9z"/><path fill="%23FFF" d="M213.9 171.8c-14.9 0-27 12.1-27 27v164.5c0 14.9 12.1 27 27 27h133.8c14.9 0 27-12.1 27-27V198.8c0-14.9-12.1-27-27-27h-133.8z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Текст кнопки */
  .buttonText {
    font-size: 16px;
    font-weight: bold;
  }




#verificationCodeWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
input[type="button"].registration-button:hover {
    background-color: #45a049;
}

